body {
    background: #ebebeb;
}

button {
    background: darkred;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

button:disabled {
    opacity: 0.1;
}

.container {
    border: 1px solid lightgray;
    padding: 1rem;
    background: white;
    max-width: 900px;
    border-radius: 1rem;
    margin: 0 auto;
}
